@import "./null.scss";
@import "./header.scss";
@import "./main.scss";
@import "./footer.scss";
@import "./items.scss";
@import "./search.scss";
@import "./loader.scss";
@import "./procent-circle.scss";
.App {
  display: flex;
  flex-direction: column;
}

.wrapper {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 10px;
  padding-left: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.col {
  display: flex;
  flex-direction: column;
}
.gap-10 {
  gap: 10px;
}
