.footer {
  background-color: rgb(75, 141, 119);
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  &__title {
    text-align: center;
    color: #fff;
  }
}
