.items {
    &__content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        vertical-align: middle;
        gap: 10px;
    }

    &__item {
        padding: 10px;
        flex: 0 0 30%;
        min-height: 500px;
        margin-bottom: 20px;
        border: 3px solid  #000;
        border-radius: 10px;
        background-color: #fff;
    }
}
.item {
    &__content {

    }

    &__image img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    &__ingredients {
        max-height: 420px;
        overflow-y: auto;
    }
    &__ingredient {
        list-style: decimal;
        margin-bottom: 5px;

        &:nth-child(even){
            color: rgb(185, 110, 11);
        }
    }
}